@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;700;900&display=swap);

/*
COLORS
*/

$lightShade: #F1F2F0;
$darkShade: #232938;
$accent: #8793A0;

/*
Typography
*/
$font-family: 'Inter',
sans-serif;
$font-light: 300;
$font-bold: 700;
$font-black: 900;